.Top-side-part {
    display: flex;
    justify-content: space-around;
}

.chart-grafico {
    display: flex;
    flex-direction: column;
    width: 400px;
    height:300px;
   
    align-items: center;
    justify-content: center;
    
}
text {
    fill: #212121 !important;
}
.chart-Texto {
    color: #212121;
        margin-top: 10px;
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 15px;
}